<div class="chart-container">
  <div class="line"></div>


  <div class="row m-4">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="graph-title">Revenue by Month and Status</div>
          <app-chart1></app-chart1>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <div class="graph-title">Number of Oppurtunities by Industry</div>
          <app-chart2></app-chart2>
        </div>
      </div>
    </div>
  </div>

  <div class="row m-4">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
        <div class="graph-title">Number of Oppurtunities/ Revenue by Industry abd Rating</div>
          <app-chart3></app-chart3>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
        <div class="graph-title">Number of Leads by OppurtunityStatus and Rating</div>
          <app-chart4></app-chart4>
        </div>
      </div>
    </div>
  </div>
  
</div>
